Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.DS_Store
*.md
.env*.local
.vscode
.idea

# Важно: НЕ игнорируем public директорию
!public/
!public/**/*
!public/ucdocs/
!public/ucdocs/*.pdf
